<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
<!--    <div th:replace="partials/partials :: head"/>-->
</head>
<body>
<!--<div th:replace="partials/partials :: top_banner"></div>-->
<!--<div th:replace="partials/partials :: standard_nav"></div>-->

<div class="container">
    <h2>Product List</h2>
    <div th:each="product : ${products}">
        <p style="font-weight: bold;" th:text="${product.name}"></p>
        <p style="padding-left: 2rem;" th:text="${product.priceInDollars}"></p>
    </div>
</div>

<!--<div th:replace="partials/partials :: footer_nav"/>-->
<!--<div th:replace="partials/partials :: footer"/>-->
</body>
</html>